name: release
on:
  workflow_dispatch:
    inputs: {}
  push:
    tags: "*"
permissions: write-all
jobs:
  build-app:
    runs-on: "ubuntu-latest"
    steps:
      - id: test
        name: test
        run: echo '[TODO] Run tests for proxy server'
  build-docker:
    needs: build-app
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          push: true
          tags: "ghcr.io/hiteshnayak305/cors-proxy:${{ github.ref_name }}"
  build-helm:
    runs-on: "ubuntu-latest"
    steps:
      - name: Install helm
        uses: azure/setup-helm@v4.3.1

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Helm Dependency Update
        run: helm dependency update charts/cors-proxy

      - name: Helm Lint
        run: helm lint charts/cors-proxy

      - name: Helm Template
        run: helm template --debug test charts/cors-proxy
  build-chart-page:
    needs: build-helm
    runs-on: "ubuntu-latest"
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: configure git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  build-release:
    needs: [build-app, build-docker, build-helm, build-chart-page]
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          mode: "COMMIT"
          configuration: .github/changelog-config.json

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          append_body: true
          body: ${{ steps.build_changelog.outputs.changelog }}
